<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes App Nodejs and Mongodb
    </h1>
    <p class="lead">
        eLorem ipsum dolor sit amet consectetur adipisicing elit. At nostrum nisi perferendis, itaque modi maiores nemo laborum accusantium quo beatae dignissimos omnis a in quas eius adipisci rem incidunt autem?
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nulla, perferendis dignissimos maxime iure ullam neque, voluptatum quidem rem debitis, laboriosam in temporibus ipsam enim pariatur nisi quod eaque repellat.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic nam, ratione quod quos aliquam voluptates natus voluptatem reprehenderit corrupti iusto blanditiis. Iste earum deserunt veritatis rem provident voluptate, explicabo qui.
    </p>
    <a href="./users/signin" class="btn btn-primary btm-lg">
        Sign In
    </a>
</div>